@model WicSchool.Models.Employee

@{
    ViewBag.Title = "Edit Employee";
}

<h2>Edit Employee - @Model.EmployeeName</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var items = new SelectList(new[]
                                {
                       new SelectListItem {Text = "accountant", Value = "accountant"},
                       new SelectListItem {Text = "technician", Value = "technician"},
                   }, "Text", "Value");
            }

            @Html.DropDownListFor(model => model.EmployeeType, @items, "Select a Type:", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmployeeType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RatePerHour, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RatePerHour, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RatePerHour, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="accountant">
        <div class="form-group">
            @Html.LabelFor(model => model.Accountant.CPANumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Accountant.CPANumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Accountant.CPANumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div id="technician">
        <div class="form-group">
            @Html.LabelFor(model => model.Technician.ACSNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Technician.ACSNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Technician.ACSNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Technician.Expire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Technician.Expire, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.Technician.Expire, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "ViewEmployees")
    </div>
    <script>
        $(document).ready(function () {
            var hidden = @(Model.EmployeeType.Contains("accountant") ? "true" : "false");
            if (hidden) {
                $('#technician').hide();
            } else {
                $('#accountant').hide();
            }

            $("#EmployeeType").on('change', function () {
                console.log($(this).val());
                if ($(this).val() === 'accountant') {
                    $('#accountant').show();
                    $('#technician').hide();
                } else {
                    $('#accountant').hide();
                    $('#technician').show();
                }
            });
        });
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
